In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import config.py
# Import the API key.
from config import g_key

In [57]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2021-06-05 03:03:40,-46.6000,168.3333,55.18,75,100,6.78
1,1,Yellowknife,CA,2021-06-05 02:59:16,62.4560,-114.3525,56.32,87,75,8.05
2,2,Ushuaia,AR,2021-06-05 03:03:40,-54.8000,-68.3000,29.86,93,40,4.61
3,3,Hobart,AU,2021-06-05 03:00:21,-42.8794,147.3294,58.01,56,75,8.99
4,4,Busselton,AU,2021-06-05 03:03:40,-33.6500,115.3333,66.04,72,96,6.46

In [58]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [59]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [60]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [42]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [63]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Hilo,US,2021-06-05 03:00:09,19.7297,-155.0900,77.25,83,85,5.01
6,6,Marzuq,YE,2021-06-05 03:03:41,14.4000,46.4667,75.13,29,6,5.28
7,7,Bandarbeyla,SO,2021-06-05 03:03:41,9.4942,50.8122,78.78,79,68,19.15
9,9,Makaha,US,2021-06-05 03:03:41,21.4694,-158.2175,83.95,54,75,10.22
10,10,Salalah,OM,2021-06-05 03:03:10,17.0151,54.0924,79.56,76,98,3.04
13,13,Avera,US,2021-06-05 03:03:42,33.1940,-82.5271,78.31,87,100,3.51
15,15,Mogadishu,SO,2021-06-05 03:03:43,2.0371,45.3438,78.94,76,57,16.69
21,21,Faanui,PF,2021-06-05 03:03:44,-16.4833,-151.7500,80.85,76,63,10.18
24,24,Puri,IN,2021-06-05 03:03:45,19.8000,85.8500,88.38,75,8,17.07
34,34,Sao Raimundo Nonato,BR,2021-06-05 03:03:48,-9.0153,-42.6994,76.24,69,85,4.79

In [64]:
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [65]:
# Create Dataframe called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
5                  Hilo      US     77.25  19.7297 -155.0900
6                Marzuq      YE     75.13  14.4000   46.4667
7           Bandarbeyla      SO     78.78   9.4942   50.8122
9                Makaha      US     83.95  21.4694 -158.2175
10              Salalah      OM     79.56  17.0151   54.0924
13                Avera      US     78.31  33.1940  -82.5271
15            Mogadishu      SO     78.94   2.0371   45.3438
21               Faanui      PF     80.85 -16.4833 -151.7500
24                 Puri      IN     88.38  19.8000   85.8500
34  Sao Raimundo Nonato      BR     76.24  -9.0153  -42.6994

In [67]:
#Import the requests library.
import requests

# Import the API key.
from config import g_key

In [68]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [72]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [73]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Hilo,US,77.25,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Marzuq,YE,75.13,14.4000,46.4667,
7,Bandarbeyla,SO,78.78,9.4942,50.8122,JABIR HOTEL
9,Makaha,US,83.95,21.4694,-158.2175,Hawaiian Princess Resort
10,Salalah,OM,79.56,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
...,...,...,...,...,...,...
560,Pueblo,US,77.58,38.2545,-104.6091,Courtyard by Marriott Pueblo Downtown
562,Pocatello,US,82.31,42.8713,-112.4455,Clarion Inn Pocatello
563,Dubai,AE,86.22,25.2582,55.3047,"Radisson Blu Hotel, Dubai Deira Creek"
564,Bandar-E Lengeh,IR,87.91,26.5579,54.8807,کافی نت پارس
569,Isangel,VU,79.66,-19.5500,169.2667,Tanna Lodge

In [75]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [79]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [80]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))