## Deliverable 3: Create a Travel Itinerary Map

In [95]:
# Dependencies and Setup.
import pandas as pd
import gmaps
import requests
import numpy as np

# Import API key.
from config import g_key

# Configure gmaps API key.
gmaps.configure(api_key=g_key)

In [96]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Sao Filipe,CV,76.48,clear sky,14.8961,-24.4956,Hotel Xaguate
1,10,Trud,BG,70.02,light rain,42.2333,24.7333,Къща ХВ
2,12,Rikitea,PF,76.55,overcast clouds,-23.1203,-134.9692,Pension Maro'i
3,17,Mahebourg,MU,75.49,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,21,Vaini,TO,71.76,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

In [97]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]


# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
#max_temp = vacation_df["Max Temp"]

In [98]:
locations

         Lat       Lng
0    14.8961  -24.4956
1    42.2333   24.7333
2   -23.1203 -134.9692
3   -20.4081   57.7000
4   -21.2000 -175.2000
..       ...       ...
138 -18.6500 -173.9833
139  -8.6199  122.2111
140  43.7667   11.2500
141  22.6667   81.7500
142 -13.2000   49.0500

[143 rows x 2 columns]

In [99]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Winkler")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Winkler")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Halifax")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Bonaventure")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Chapais")]

In [101]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
49,218,Winkler,CA,77.0,broken clouds,49.1817,-97.941,Quality Inn & Suites

In [102]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
49,218,Winkler,CA,77.0,broken clouds,49.1817,-97.941,Quality Inn & Suites

In [103]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
129,587,Halifax,CA,78.69,broken clouds,44.6453,-63.5724,Hotel Halifax

In [104]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
96,438,Bonaventure,CA,70.39,overcast clouds,48.0457,-65.4926,Riôtel Bonaventure (N° établissement : 1271)

In [105]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
15,81,Chapais,CA,73.18,scattered clouds,49.7834,-74.8492,Hôtel Opémiska

In [106]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start =vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [107]:
start

(49.1817, -97.941)

In [108]:
end

(49.1817, -97.941)

In [109]:
stop1

(44.6453, -63.5724)

In [110]:
stop2

(48.0457, -65.4926)

In [111]:
stop3

(49.7834, -74.8492)

In [113]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation2canada = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(vacation2canada)
fig

Figure(layout=FigureLayout(height='420px'))

In [114]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,218,Winkler,CA,77.00,broken clouds,49.1817,-97.9410,Quality Inn & Suites
1,587,Halifax,CA,78.69,broken clouds,44.6453,-63.5724,Hotel Halifax
2,438,Bonaventure,CA,70.39,overcast clouds,48.0457,-65.4926,Riôtel Bonaventure (N° établissement : 1271)
3,81,Chapais,CA,73.18,scattered clouds,49.7834,-74.8492,Hôtel Opémiska
4,218,Winkler,CA,77.00,broken clouds,49.1817,-97.9410,Quality Inn & Suites

In [115]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [116]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))